.search {
    width: 220px;
    max-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    border-radius: 12px;
    padding: 8px;
    background-color: #FFFFFF;

    img {
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        border: none;
        outline: none;
        color: #B5B7C0;
        font-size: 14px;
        font-weight: 400;
    }

    &.wheat {
        background-color: rgba(250, 251, 255, 1);

        input {
            background-color: transparent;
        }
    }
}