.custom-label {
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    align-items: center;
    margin: 0;
    padding: 0;
    line-height: normal;

    &.size__small {
        font-size: 12px;
    }

    &.size__big {
        font-size: 22px;
    }

    &.size__extra-big {
        font-size: 24px;
    }

    &.size__large {
        font-size: 32px;
    }

    &.gray {
        color: rgb(181, 183, 192);
    }

    &.green {
        color: rgb(22, 192, 152);
    }

    &.blue {
        color: rgba(73, 37, 233, 1);
    }

    &.weight__medium {
        font-weight: 500;
    }

    &.weight__semi-bold{
        font-weight: 600;
    }
}